name: Docker Image CI

on: 
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      
      - name: log in to docker hub 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.LOGIN_DOCKER }}
          password: ${{ secrets.TOKEN_DOCKER }}

      - name: build image and push
        uses: docker/build-push-action@v5
        with:
          context: ./Lab3
          push: true
          tags: cloud_technologies/docker3:latest
